// Theme Colors
$color-main: #3f3f3f;
$color-accent: #f74a4a;
$color-accent-secondary: #2951d5;

// Background Colors
$color-bg: #3f3f3f;
$color-bg-light: #e6e6e6;

// Text Colors
$color-text: #ffffff;
$color-text-light: #c7c7c7;
$color-text-dark: #1e1e1e;

// Additional Colors
$color-green: #a4ed76;
$color-astro-link: #ff5e00;
$color-astro-link-hover: #fe701e;

// Other Values
$hover-transition: 100ms;
