<footer>
    <div class="footer container">
        Footer
    </div>
</footer>

<style lang="scss">
    footer{
        background-color: rgb(231, 231, 231);
    }
    
    .footer {
        display: flex;
        padding: 1em;
    }
</style>