<header>
    <div class="header container">
        Header
    </div>
</header>

<style lang="scss">
    header{
        background-color: rgb(231, 231, 231);
    }

    .header{
        display: flex;
        padding: 1em;
    }
</style>
